/* 헤더 고정 */
#menu{
  display: block;
}
#menu header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #f0f0f0;
  box-sizing: border-box;
  z-index: 9999;
}

/* 토글 버튼 */
.toggle-btn {
  position: fixed;
  left: 0; /* 왼쪽에 고정 */
  top: 50%; /* 화면 세로 중앙 */
  transform: translateY(-50%); /* 정확한 중앙 배치 */
  background: #444;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.3s ease;
  z-index: 1002;
  font-family: 'Gugi', sans-serif;
}

.toggle-btn.menu-open {
  transform: translateY(-50%) translateX(250px); /* 사이드바 열렸을 때 */
}

/* 사이드바 */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background: #333;
  transition: left 0.3s ease;
  overflow-y: auto;
  box-sizing: border-box;
  padding-top: 40px;
  z-index: 1001;
}

.sidebar-open {
  left: 0;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav li {
  border-bottom: 1px solid #444;
}

.sidebar nav li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Gugi';
}

.sidebar nav li a:hover {
  background: #444;
}

/* 태그 박스 컨테이너 */
.tag-box-container {
  padding: 15px;
  border-bottom: 1px solid #444;
  background: linear-gradient(to right, #37195f, #000000);
  font-family: auto;
 
}

/* 태그 박스 */
.tag-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* 개별 태그 */
.tag-item {
  display: inline-block;
  padding: 4px 6px;
  background: linear-gradient(to right, #360b41d0, #000000);
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  white-space: nowrap;
  transition: transform 0.3s ease, background 0.3s ease;
}

.tag-item:hover {
  cursor: pointer;
  transform: scale(1.05);
  background: linear-gradient(to right, #9000ff, #6e01a8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 인기급상승 검색어 박스 */
.trending-box {
  border-top: 1px solid #444;
  padding: 15px;
  color: #fff;
  background-color: #333;
  font-family: 'Gugi', sans-serif;
}

.trending-title {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
  margin-bottom: 5px;
}

.trending-subtitle {
  font-size: 12px;
  margin: 0 0 10px 0;
  color: #ccc;
}

.trending-date {
  font-size: 12px;
  color: #aaa;
  margin: 0 0 10px 0;
}

.trending-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.trending-list li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.trending-list .rank {
  display: inline-block;
  width: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #f0f0f0;
}

.trending-list .keyword {
  flex: 1;
  font-size: 14px;
  margin-left: 5px;
  color: #fff;
}

.trending-list .change {
  font-size: 14px;
  margin-left: 10px;
  color: #fff;
}

.change.plus {
  color: #4caf50;
}

.change.minus {
  color: #f44336;
}

.change.neutral {
  color: #ccc;
}
